.container {
  padding: 20px;
}

.card {
  border: none;
  border-radius: 15px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; /* Ensure images don't overflow */
}

.carousel-control {
  display: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.card:hover .carousel-control {
  display: block;
  opacity: 1;
}

.carousel-inner {
  height: 300px; /* Adjust height as needed */
  display: flex;
  align-items: center;
}

.carousel-item {
  text-align: center;
  width: 100%; /* Set width to match the card */
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block; /* Ensure image is displayed as a block element */
  vertical-align: middle; /* Vertically center the image within the carousel item */
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s, color 0.2s, font-size 0.2s;
  color: white;
  z-index: 1;
}

.card:hover .favorite-btn {
  opacity: 1;
  transition: transform 0.3s;
}

.favorite-btn:hover {
  color: #d65520;
  opacity: 0.8;
  transform: scale(1.5);
}

.card-title a {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #d65520;
  opacity: 0.8;
  text-decoration: none;
}

.card-title a:hover {
  text-decoration: none;
}

.card-text {
  font-size: 1.2rem;
  color: #888;
}

.location-wrapper {
  display: flex;
  align-items: center;
}

.location-text {
  margin-right: 5px;
  color: #888;
}

.location-icon {
  color: #888;
}

.line {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}



.filter-icons-left {
  display: flex;
  align-items: flex-end;
}

.price-filter-wrapper {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
}

.filter-icon {
  font-size: 24px;
  color: red;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.big-dog-filter {
  font-size: 48px; /* Double the size for big dogs */
}

.medium-dog-filter {
  font-size: 36px; /* 1.5 times the size for medium dogs */
}

.filter-icon:hover {
  transform: scale(1.1);
}

.filter-icon.active {
  color: black;
}

.price-filter-wrapper {
  display: flex;
  align-items: flex-end;
}

.price-filter-icon {
  margin-right: 10px;
  cursor: pointer;
}

.price-slider-wrapper {
  display: none;
  align-items: flex-end;
}

.price-slider-wrapper label {
  margin-right: 5px;
}
