<h1>Your booking has been placed for <%= "#{@item.name} in #{@item.location}" %></h1>
<p>Starting: <%= @booking.date_booked_start %></p>
<p>Until: <%= @booking.date_booked_end %></p>
<p>Price per night: $<%= "#{@item.price}" %></p>
