
.booking-card {
  position: sticky;
  top: 20px;
}


.btn-primary {
  background-color: #d65520;
  border-color: #d65520;
  opacity: 0.8;
  transition: transform 0.3s, color 0.3s;
}
.btn-primary:hover {
  background-color: black;
  border-color: black;
  transform: scale(1.1);
}


.show-title .btn-group i {
  color: #d65520;
  transition: transform 0.3s, color 0.3s;
}

.show-title .btn-group i:hover {
  color: black;
  transform: scale(1.1);
}

#modalOverlay {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}


.modal-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 99999;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#modalOverlay .carousel-item img {
  width: 100%;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
}

#modalOverlay .carousel-inner {
  height: 100%;
}

#modalOverlay .carousel-control-prev,
#modalOverlay .carousel-control-next {
  z-index: 9999;
}
