.navbar-airdiy {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-airdiy .navbar-collapse {
  flex-grow: 0;
}

.navbar-airdiy .navbar-brand img {
  width: 120px; /* Increase the width of the logo */
  padding: 8px; /* Adjust padding for the logo */
}

.navbar-airdiy i {
  font-size: 2rem; /* Adjust icon size */
  color: #d65520;
  opacity: 0.8;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: transform 0.3s, color 0.3s;
}

.navbar-airdiy i:hover {
  transform: scale(1.1);
  color: black;
}

.input-group {
  background-color: white;
  border: 1px solid #dacece;
  border-radius: 50px;
  padding: 6px 16px; /* Adjust padding for the search bar */
  width: 750px; /* Increase the width of the search bar */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group input {
  background-color: inherit;
  border: none;
  outline: none;
  flex-grow: 1;
  margin-right: 10px; /* Adjust margin for the search input */
}

.input-group button {
  padding: 0;
}

.input-group button i {
  font-size: 2.2rem; /* Adjust icon size */
  color: #d65520;
  opacity: 0.8;
  transition: transform 0.3s, color 0.3s;
}

.input-group button:hover i {
  transform: scale(1.1);
  color: black;
}

.dropdown-toggle::after {
  display: none !important;
}

.navbar-airdiy .nav-item {
  margin-left: 20px; /* Add more space between account icon and text */
  font-size: 1.2rem; /* Increase the font size of account text */
}

.website-name {
  font-size: 24px; /* Adjust size as needed */
  font-weight: bold;
  color: #d65520;
  opacity: 0.8;
  margin-top: 24px;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: #af000000;
  border-color: #7c106f00;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0);
}
